<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <!-- opcja z ViewChild -->
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <!-- opcja z przekazaniem argumentu w funkcji -->
      <!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm"> -->
        <div 
          id="user-data" 
          ngModelGroup="userData"
          #userData = "ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input 
              type="text" 
              id="username" 
              class="form-control"
              ngModel
              name="username"
              required>
          </div>
          <button (click)="suggestUserName()" class="btn btn-default" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input 
              type="email" 
              id="email" 
              class="form-control"
              ngModel
              name="email"
              required
              email
              #email="ngModel">
              <span *ngIf="!email.valid && email.touched" class="help-block">Please enter valid email!</span>
          </div>
        </div>

        <p *ngIf="!userData.valid && userData.touched">
          This group is invalid, please correct inputs
        </p>

        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select 
            id="secret" 
            class="form-control"
            [ngModel]="defaultQ"
            name = "secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>

        <div class = "form-goup">
          <textarea 
            class = "form-control"  
            [(ngModel)] ="answer"
            name="questionAnswer" 
            id="" 
            rows="5">
          </textarea>
          <p>Your reply: {{ answer }}</p>
        </div>
        
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input 
              type="radio"
              name="gender"
              [value]="gender"
              [ngModel]="genders[0]"
            >{{ gender}}
          </label>
        </div> 


        <button 
        [disabled]="!f.valid"
          class="btn btn-primary" 
          type="submit">
        Submit</button>
      </form>

    </div>
  </div>
</div>
